// config

$golden-grid-config: (
  max-number: 10,
  no-flex-class: '.ie-8',
  padding: 1.5rem,
  ratio: 1.618,
  utility-classes: true,
  utility-classes-breakpoints: (
    s: false,
    m: mobile-medium,
    l: tablet-medium,
    xl: desktop-medium
  )
)!default;
