// Golden ratio scale

@function generate-golden-ratio-scale($starting-value: 1) {
  $golden-ratio-list: $starting-value;

  @for $i from $starting-value to golden-grid(max-number) {
    $last-element: nth($golden-ratio-list, length($golden-ratio-list));
    $golden-ratio-list: append($golden-ratio-list, $last-element * golden-grid(ratio));
  }

  @return $golden-ratio-list;
}


$golden-ratio-scale: generate-golden-ratio-scale(1);
