// this mixin sets the styling for the wrapper of the elements
// the flag is for table support

@mixin columns-wrapper {

  @if gr(no-flex-class) {
    #{unquote(gr(no-flex-class))} & {
      &:after {
        display: block;
        width: 100%;
        clear: both;
        content: '';
      }
    }
  }

  display: flex;

  @if gr(vendor-prefixes) {
    display: -webkit-flex;
    display: -ms-flexbox;
  }

  flex-wrap: wrap;

  @if gr(vendor-prefixes) {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
  }

  width: 100%;
}
